@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-border-default: #444c56;
  --color-border-muted: #373E47;
  --color-link: #58A6ff;
  --color-neutral-muted: #6e768166;
  --color-fg-default: #c9d1d9;
  --color-fg-muted: #768390;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-neutral-muted);
}

::-webkit-scrollbar-thumb {
  background: #2b3138;
}

/* CodeMirror full screen */
html,
body,
#root,
.playground-container {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.playground-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.playground-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cm-outer-container {
  flex: 1;
}

.cm-editor {
  flex: 1;
  height: 100%;
  position: relative;
}

.cm-scroller {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.cm-content {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

/* Preview */
/* Needs to go in global because of Next issue using modules and client components. */
.task-list-item {
  list-style: none !important;
}

.footnotes {
  font-size: 12px;
  color: var(--color-fg-muted);
  border-top: 1px solid var(--color-border-default);
}

.footnotes ol {
  padding-left: 16px;
}

.footnotes li > p {
  margin-top: 16px;
}

blockquote {
  padding: 0 1em;
  color: var(--color-fg-muted);
  border-left: .25em solid var(--color-border-default);
}